.person-images {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  justify-content: space-around;
  align-items: flex-start;
  height: 200px;
  min-width: 300px;
  max-width: 1200px;
  background-color: var(--color-black-60);
}

.image-frame {
  background-color: var(--color-burgundy);
  height: 170px;
  aspect-ratio: 16/9;
}
.person1 {
  background-image: url("../images/person1.jpg");
}
.person2 {
  background-image: url("../images/person2.jpg");
}
.person3 {
  background-image: url("../images/person3.jpg");
}