.filter-section {
  display: flex;
  // flex-direction: column;
  justify-content: ;
  align-items: center;
  width: calc(63.5vw - 1em);
  padding: 1em auto;
  margin: 0 auto;
  background-color: var(--color-burgundy);
}

.filter-section .choose-category,
.filter-section .choose-tags,
.filter-section .choose-sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.filter-section label {
  margin-bottom: 0.5em;
}

.filter-section select {
  width: 100%;
  max-width: 300px;
}
