// CAROUSEL
.carousel-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 80vw;
  margin: 1em 0 0 0;
}
button {
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}
button:hover {
  transform: rotate3d(0, 0, 1, 10deg);
}
.carousel-left {
  position: absolute;
  left: 1rem;
}
.carousel-right {
  position: absolute;
  right: 1rem;
}
.carousel-home {
  display: flex;
  position:relative
  justify-content: flex-start;
  overflow: hidden;
  align-items: flex-start;
  gap: 1em;
  width: 980px;
}

.post-container {
  border: var(--border-1px-gold);
  border-radius: 6px;
  padding: 0.5em;
  // height: 295px;
  // width: 243px;
}

.post-image-container {
  max-width: 100%;
  width: 213px;
  height: 110px;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.post-title {
  font-family: var(--font-family-elegant);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-gold);
  height: 40px;
  margin: 0.4em 0 0 0;
}

.post-tagline {
  font-family: var(--font-family-normal);
  margin: 0.4em 0;
  font-size: 0.9rem;
  height: 32px;
}

.post-tags {
  font-family: var(--font-family-normal);
  font-size: 0.8rem;
  margin: 0 0 0.6em 0;
  height: 48px;
  line-height: 1.35;
}
.post-added {
  font-family: var(--font-family-normal);
  font-size: 0.7rem;
  margin: 0;
}