footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 20vw;
  background-color: var(--color-burgundy);
  color: var(--color-white);
  border-top: var(--border-2px-gold);
  border-bottom: var(--border-2px-gold);
  img {
    transition: all 0.2s ease-in-out;
  }
  img:hover {
    transform: scale(1.2);
  }
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  width: 33.33vw;
}


.footer-header {
  display: flex;
  align-items: flex-start;
  margin: 0.4em 0 0.5em 0;
  font-size: 2vw;
}

.footer-center-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8em;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  width: 30vw;
  gap: 0.5em;
  padding: 0 0 0 7em;

  ul {
    list-style: none;
    li {
      // display: flex;
      align-items: center;
      gap: 0.2em;
      // width: 150px;
      height: 2em;
    }
  }
  .to-top {
    background-color: var(--color-gold);
    border-radius: var(--border-radius-6px);
    .before-top-arrow {
      padding-left: 2rem;
    }
    a {
      font-weight: 600;
      color: var(--color-black)
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 4px 0 0 5px;
    color: var(--color-white);
    text-decoration: none;
  }

  li:hover, .active {
    width: 150px;
    color: var(--color-gold);
    background-color: var(--color-black-60);
    border: var(--border-1px-gold);
    border-radius: var(--border-radius-6px);
  }

  a:hover {
    text-indent: -1px;
    width: 150px;
    color: var(--color-gold);
  }
  .menu-header:hover {
    border: none;
    background-color: transparent;
    color: var(--color-white);
  }

  .active {
    // color: var(--color-gold);
    // border-radius: var(--border-radius-6px);
    cursor: default;
    // width: 150px;
  }
  .active:hover 
  border: 1px solid transparent;
}

.footer-center {
  display: flex;
  flex-direction: column;
  padding: 0.7em 0 1em 0;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5em;
  margin-top: 0.5em;
  img {
    height: 3.5vw;
    border: var(--border-1px-gold);
    border-radius: var(--border-radius-50);
    transition: all 0.2s ease-in-out;
  }

  a {
    color: var(--color-white);
    text-decoration: none;
  }

  a:hover {
    color: var(--color-gold);
  }
}

.footer-credits {
  width: 100%;
  margin-top: auto;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  height: 100%;
  padding: 0 0 2em 0;
}
