footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 20vw;
  background-color: var(--color-burgundy);
  color: var(--color-white);
  border-top: var(--border-2px-gold);
  border-bottom: var(--border-2px-gold);
}

