footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 20vw;
  background-color: var(--color-burgundy);
  color: var(--color-white);
  border-top: var(--border-2px-gold);
  border-bottom: var(--border-2px-gold);
}
.footer-left,
.footer-center,
.footer-right {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  width: 33.33vw;
}
.footer-header {
  font-size: 2vw;
}
.footer-center-top {
  display: flex;
  flex-direction: column;

}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  width: 30vw;
  gap: 0.5em;
  padding: 0 0 0 7em;
  ul {
    list-style: none;
    li {
      gap: 0.2em;
      width: 200px;
      height: 1em;
    }
  }
  a {
    padding: 4px 0 0 5px;
    color: var(--color-white);
    text-decoration: none;
  }
  li:hover {
    width: 200px;
    color: var(--color-gold);
    background-color: var(--color-black-60);
    border: var(--border-1px-gold);
    border-radius: 6px;
    // padding-left: 5px;
  }
  a:hover {
    width: 200px;
    color: var(--color-gold);
    // background-color: var(--color-black-60);
  }
  .active {
    color: var(--color-gold);
  }
}
.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 30vw;
  gap: 0.5em;
  padding: 0 0 0 1em;
  ul {
    list-style: none;
  }
  a {
    color: var(--color-white);
    text-decoration: none;
  }
  a:hover {
    color: var(--color-gold);
  }
  .active {
    color: var(--color-gold);
  }
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  gap: 2.5em;
  // padding: 0 0 0 1em;
  a {
    color: var(--color-white);
    text-decoration: none;
  }
  a:hover {
    color: var(--color-gold);
  }
}
