/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

/* Modal Content/Box */
.modal-content {
  display: ;
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 45%;
  max-width: 800px;
  max-height: 80vh;
}

/* Modal Image */
.modal-image {
  position: absolute;
  top: calc(50% + 1rem);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  z-index: 2;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
