h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
.detail-title {
  font-size: 3.5rem;
  text-align: center;
  color: var(--color-gold);
  margin: 0.5em auto;
}

.detail-short-description {}

.detail-image {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 63.5vw;
  height: 400px;
}