.detail-title {
  font-size: 1.5rem;
  height: 36px;
}

.detail-image {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 63.5vw;
  height: 400px;
}