.search-results-body {
  background-image: url(../images/search-bg.jpg);
  background-size: 90%;
  background-position: left bottom;
}
header {
  background-color: var(--color-black);
}
.main-search-results {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black-60);
  width: 100%;
  max-width: none;
}
.results-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--color-black-60);
  width: 70%;
  max-width: 1300px;
  margin: 2em auto;
  border-radius: var(--border-radius-6px);
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0 1em 0;
  position: relative;
  text-align: left;
  color: var(--color-white);
  max-width: 100%;
  a {
    text-decoration: none;
    color: var(--color-white);
  }
  a:hover {
    background-color: var(--color-burgundy);
  }
}

.main-search-results {
  position: relative
}

.search-result-count {
  display: flex;
  width: 60vw;
  font-size: 3vw;
  justify-content: center;
  padding: 1em;
  color: var(--color-white);
}
.search-post-container {
  display: flex;
  width: 60vw;
  max-width: 1200px;
  align-items: flex-start;
  padding: 0.5em 0em;
  margin-top: -1px;
  // border-top: var(--border-2px-gold);
  border-bottom: var(--border-2px-gold);
  border-radius: var(--border-radius-6px);
}

.search-post-image-container {
  width: 140px;
  height: 80px;
  margin: 0em 1em;
  background-size: cover;
  background-position: center center;
}

.search-post-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
  width: 100%;
}

.post-title, .post-tagline, .post-tags {
  height: auto;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .search-results {
    // width: 100vw;
    transform: scale(0.9);
    position: relative;
    top: -40px;
  }
  .search-post-container {
    width: 95%;
  }
  .search-result-count {
    font-size: 1.2rem;
    width: 100vw;
    padding: 1em 0em 1em 0em;
  }
  .results-wrapper {
    max-width: 95%;
    width: 100vw;
  }
}
