:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #D9D9D9;
  --color-gold: #C6A777;
  --color-red: #A60033;
  --color-burgundy: #5E0A24;

  --border-radius-50: 50%;
  --border-radius-10: 10%;
  --border-1px-gold: 1px solid var(--color-gold);
  --border-2px-gold: 2px solid var(--color-gold);

  --font-family-elegant: "Garamond", "Times New Roman", serif;
  --font-family-normal: "Arial", "Helvetica", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-black);
  color: var(--color-white);
  min-height: 150vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em;
  box-sizing: border-box;
  height: 110px;
  gap: 1em;
  img {
    max-height: 100%;
  }
  .flame-logo {
    height: 100px;
  }
}

.header-text-logo {
  display: flex;
  align-items: flex-start;
  // width: 400px;
  // height: 100px;
  // max-width: 600px;
  // max-height: 100%;
  img {
    width: 
    max-height: 100%;
  }
}
.search-icon, .menu-icon {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: flex-end;

}
.search-and-menu {
  // position: sticky;
  // top: 0;
  // right: 1.2em;
  // width: 25vw;
}
.search-icon {
  position: fixed;
  top: 1em;
  right: 1.2em;
}
.menu-icon {
  position: fixed;
  top: 4em;
  right: 1em;
}

.head-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

// .flame-logo {
//   width: 5vw;
// }

.main-navigation {
  position: fixed;
  top: 0;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 1400px;
  height: 50px;
  max-width: 100%;
}
.nav-container {
  .menu {
    border-top: var(--border-2px-gold);
    border-bottom: var(--border-2px-gold);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    align-items: center;
    background-color: var(--color-burgundy);
  }
  ul {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    padding: 0;
    margin: 0;
    // height: 46px;
    align-items: center;
  }
  a {
    // align-items: center;
    font-family: var(--font-family-elegant);
    font-size: calc(1rem + 0.5vw);
    color: var(--color-white);
    text-decoration: none;
  }
  a:hover {
    color: var(--color-gold);
  }
  li {
    list-style: none;
  }
}

@media screen and (max-width: 768px) {
   .desktop-only {
      display: none;
   }
   .tablet {
    display: block;
   }
}

@media screen and (max-width: 460px) {
   .tablet {
      display: none;
   }
}
