:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #D9D9D9;
  --color-gold: #C6A777;
  --color-red: #A60033;
  --color-burgundy: #5E0A24;

  --border-radius-50: 50%;
  --border-radius-10: 10%;
  --border-1px-gold: 1px solid var(--color-gold);
  --border-2px-gold: 2px solid var(--color-gold);

  --font-family-elegant: "Garamond", "Times New Roman", serif;
  --font-family-normal: "Arial", "Helvetica", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-black);
  color: var(--color-white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1 2rem;
  background-color: var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  img {
    max-height: 100%;
  }
}
.head-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// .header-flame-logo {
//   flex-basis: 25%;
// }
// .header-text-logo {
//   flex-basis: 60%;
// }

.search-and-menu {
  // flex-basis: 15%;
  margin-top: 1em;
  
}

.search-icon, .menu-icon {
  height: 60px;
  max-height: 100%;
  // margin-right: 1em;
}