:root {
  --color-black: #000000;
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-90: rgba(0, 0, 0, 0.9);
  --color-white: #FFFFFF;
  --color-grey: #D9D9D9;
  --color-gold: rgb(198, 167, 119);
  --color-red: #A60033;
  --color-burgundy: #5E0A24;
  --color-burgundy-see-through: rgba(94, 10, 36, 0.6);
  --color-gold-see-through: rgb(198, 167, 119, 0.3);

  --border-radius-50: 50%;
  --border-radius-6px: 6px;
  --border-1px-gold: 1px solid var(--color-gold);
  --border-2px-gold: 2px solid var(--color-gold);
  --border-2px-burgundy: 2px solid var(--color-burgundy);
  --border-2px-black: 2px solid var(--color-black);

  --font-family-elegant: "Garamond", "Times New Roman", serif;
  --font-family-normal: "Arial", "Helvetica", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-black);
  color: var(--color-white);
}

.out-of-view-menu-text {
  color: var(--color-white);
}